@import "partials/reset";
@import "partials/animations";
@import "partials/colors";
@import "partials/buttons";
@import "partials/font";
@import "partials/space";
@import "partials/mixins";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

header {
   background-color: $bg_hero;

   nav {
      display: flex;
      width: 100%;
      height: 110px;

      ul {
         margin-left: auto;
         display: flex;
         justify-content: flex-end;
         align-items: center;

         li a {
            color: $color-text;
            text-decoration: none;

            &:hover {
               color: #ff8700;
            }
         }
      }
   }

   .hero {
      min-height: 600px;
      display: flex;

      .container {
         display: flex;
         flex-direction: column;
         width: 60%;
         animation: $fade-in-down;

         h1,
         p {
            color: $color-text;
         }

         .buttons {
            display: flex;
            width: 80%;

            button {
               @include floating;
               border: none;
               box-shadow: none;
               width: 100%;
               transition: $btn-transition;

               &:hover {
                  transform: scale(0.95);
                  @include floating;
                  border: none;
               }
            }
         }
      }

      .img-container {
         position: relative;
         right: 0;
         width: 45%;
         animation: $fade-in-up;

         img {
            position: absolute;
            right: 0;
            object-fit: contain;
            width: 100%;
            @include floating;
         }
      }
   }
}

main {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   .container-row {
      width: 100%;
      display: flex;
      justify-content: center;

      .content-img {
         width: 20%;
         overflow: hidden;
         @include floating;
         border: none;
         box-shadow: none;

         .img {
            // width: 100%;
            width: 100%;
            object-fit: contain;
         }
      }
   }
}
