/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes animation-fade_in_down {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 100;
  }
}
@keyframes animation-fade_in_up {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 100;
  }
}
.btn-blue {
  background-color: #0e6cff;
}

.btn-orange {
  background-color: #ff8700;
}

.btn-green {
  background-color: #4caf50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-weight: 700;
}

h4 {
  font-size: 1.8em;
  font-weight: 700;
}

h5 {
  font-size: 1.6em;
  font-weight: 700;
}

h6 {
  font-size: 1.4em;
  font-weight: 700;
}

.title-big {
  font-size: 2.4em;
  font-weight: 700;
}

.b-0 {
  border: none;
}

.p-block-sm {
  padding: 0 0.5em;
}

.p-inline-sm {
  padding: 0.5em 0;
}

.p-sm {
  padding: 0.5em;
}

.pt-sm {
  padding-top: 0.5em;
}

.pb-sm {
  padding-bottom: 0.5em;
}

.py-sm {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.ps-sm {
  padding-left: 0.5em;
}

.pe-sm {
  padding-right: 0.5em;
}

.px-sm {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.m-block-sm {
  margin: 0 0.5em;
}

.m-inline-sm {
  margin: 0.5em 0;
}

.m-sm {
  margin: 0.5em;
}

.mt-sm {
  margin-top: 0.5em;
}

.mb-sm {
  margin-bottom: 0.5em;
}

.my-sm {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.ms-sm {
  margin-left: 0.5em;
}

.me-sm {
  margin-right: 0.5em;
}

.mx-sm {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.p-block-normal {
  padding: 0 1em;
}

.p-inline-normal {
  padding: 1em 0;
}

.p-normal {
  padding: 1em;
}

.pt-normal {
  padding-top: 1em;
}

.pb-normal {
  padding-bottom: 1em;
}

.py-normal {
  padding-bottom: 1em;
  padding-top: 1em;
}

.ps-normal {
  padding-left: 1em;
}

.pe-normal {
  padding-right: 1em;
}

.px-normal {
  padding-right: 1em;
  padding-left: 1em;
}

.m-block-normal {
  margin: 0 1em;
}

.m-inline-normal {
  margin: 1em 0;
}

.m-normal {
  margin: 1em;
}

.mt-normal {
  margin-top: 1em;
}

.mb-normal {
  margin-bottom: 1em;
}

.my-normal {
  margin-bottom: 1em;
  margin-top: 1em;
}

.ms-normal {
  margin-left: 1em;
}

.me-normal {
  margin-right: 1em;
}

.mx-normal {
  margin-right: 1em;
  margin-left: 1em;
}

.p-block-md {
  padding: 0 1.4em;
}

.p-inline-md {
  padding: 1.4em 0;
}

.p-md {
  padding: 1.4em;
}

.pt-md {
  padding-top: 1.4em;
}

.pb-md {
  padding-bottom: 1.4em;
}

.py-md {
  padding-bottom: 1.4em;
  padding-top: 1.4em;
}

.ps-md {
  padding-left: 1.4em;
}

.pe-md {
  padding-right: 1.4em;
}

.px-md {
  padding-right: 1.4em;
  padding-left: 1.4em;
}

.m-block-md {
  margin: 0 1.4em;
}

.m-inline-md {
  margin: 1.4em 0;
}

.m-md {
  margin: 1.4em;
}

.mt-md {
  margin-top: 1.4em;
}

.mb-md {
  margin-bottom: 1.4em;
}

.my-md {
  margin-bottom: 1.4em;
  margin-top: 1.4em;
}

.ms-md {
  margin-left: 1.4em;
}

.me-md {
  margin-right: 1.4em;
}

.mx-md {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.p-block-lg {
  padding: 0 1.6em;
}

.p-inline-lg {
  padding: 1.6em 0;
}

.p-lg {
  padding: 1.6em;
}

.pt-lg {
  padding-top: 1.6em;
}

.pb-lg {
  padding-bottom: 1.6em;
}

.py-lg {
  padding-bottom: 1.6em;
  padding-top: 1.6em;
}

.ps-lg {
  padding-left: 1.6em;
}

.pe-lg {
  padding-right: 1.6em;
}

.px-lg {
  padding-right: 1.6em;
  padding-left: 1.6em;
}

.m-block-lg {
  margin: 0 1.6em;
}

.m-inline-lg {
  margin: 1.6em 0;
}

.m-lg {
  margin: 1.6em;
}

.mt-lg {
  margin-top: 1.6em;
}

.mb-lg {
  margin-bottom: 1.6em;
}

.my-lg {
  margin-bottom: 1.6em;
  margin-top: 1.6em;
}

.ms-lg {
  margin-left: 1.6em;
}

.me-lg {
  margin-right: 1.6em;
}

.mx-lg {
  margin-right: 1.6em;
  margin-left: 1.6em;
}

.p-block-xl {
  padding: 0 5em;
}

.p-inline-xl {
  padding: 5em 0;
}

.p-xl {
  padding: 5em;
}

.pt-xl {
  padding-top: 5em;
}

.pb-xl {
  padding-bottom: 5em;
}

.py-xl {
  padding-bottom: 5em;
  padding-top: 5em;
}

.ps-xl {
  padding-left: 5em;
}

.pe-xl {
  padding-right: 5em;
}

.px-xl {
  padding-right: 5em;
  padding-left: 5em;
}

.m-block-xl {
  margin: 0 5em;
}

.m-inline-xl {
  margin: 5em 0;
}

.m-xl {
  margin: 5em;
}

.mt-xl {
  margin-top: 5em;
}

.mb-xl {
  margin-bottom: 5em;
}

.my-xl {
  margin-bottom: 5em;
  margin-top: 5em;
}

.ms-xl {
  margin-left: 5em;
}

.me-xl {
  margin-right: 5em;
}

.mx-xl {
  margin-right: 5em;
  margin-left: 5em;
}

.p-block-xxl {
  padding: 0 10em;
}

.p-inline-xxl {
  padding: 10em 0;
}

.p-xxl {
  padding: 10em;
}

.pt-xxl {
  padding-top: 10em;
}

.pb-xxl {
  padding-bottom: 10em;
}

.py-xxl {
  padding-bottom: 10em;
  padding-top: 10em;
}

.ps-xxl {
  padding-left: 10em;
}

.pe-xxl {
  padding-right: 10em;
}

.px-xxl {
  padding-right: 10em;
  padding-left: 10em;
}

.m-block-xxl {
  margin: 0 10em;
}

.m-inline-xxl {
  margin: 10em 0;
}

.m-xxl {
  margin: 10em;
}

.mt-xxl {
  margin-top: 10em;
}

.mb-xxl {
  margin-bottom: 10em;
}

.my-xxl {
  margin-bottom: 10em;
  margin-top: 10em;
}

.ms-xxl {
  margin-left: 10em;
}

.me-xxl {
  margin-right: 10em;
}

.mx-xxl {
  margin-right: 10em;
  margin-left: 10em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  background-color: #640fc5;
}
header nav {
  display: flex;
  width: 100%;
  height: 110px;
}
header nav ul {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li a {
  color: #f4f4f4;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #ff8700;
}
header .hero {
  min-height: 600px;
  display: flex;
}
header .hero .container {
  display: flex;
  flex-direction: column;
  width: 60%;
  animation: 1.5s ease-in-out 0s 1 animation-fade_in_down;
}
header .hero .container h1,
header .hero .container p {
  color: #f4f4f4;
}
header .hero .container .buttons {
  display: flex;
  width: 80%;
}
header .hero .container .buttons button {
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 2px solid #fff;
  border: none;
  box-shadow: none;
  width: 100%;
  transition: all 0.3s ease-out;
}
header .hero .container .buttons button:hover {
  transform: scale(0.95);
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 2px solid #fff;
  border: none;
}
header .hero .img-container {
  position: relative;
  right: 0;
  width: 45%;
  animation: 1.5s ease-in-out 0s 1 animation-fade_in_up;
}
header .hero .img-container img {
  position: absolute;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 2px solid #fff;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .container-row .content-img {
  width: 20%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 2px solid #fff;
  border: none;
  box-shadow: none;
}
main .container-row .content-img .img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */