$spacing-pading-margin: (
   sm: 0.5em,
   normal: 1em,
   md: 1.4em,
   lg: 1.6em,
   xl: 5em,
   xxl: 10em,
);

// border
.b-0 {
   border: none;
}

@each $property, $size in $spacing-pading-margin {
   // padding
   .p-block-#{$property} {
      padding: 0 $size;
   }
   .p-inline-#{$property} {
      padding: $size 0;
   }
   .p-#{$property} {
      padding: $size;
   }
   .pt-#{$property} {
      padding-top: $size;
   }
   .pb-#{$property} {
      padding-bottom: $size;
   }
   .py-#{$property} {
      padding-bottom: $size;
      padding-top: $size;
   }
   .ps-#{$property} {
      padding-left: $size;
   }
   .pe-#{$property} {
      padding-right: $size;
   }
   .px-#{$property} {
      padding-right: $size;
      padding-left: $size;
   }

   //  margin
   .m-block-#{$property} {
      margin: 0 $size;
   }
   .m-inline-#{$property} {
      margin: $size 0;
   }
   .m-#{$property} {
      margin: $size;
   }
   .mt-#{$property} {
      margin-top: $size;
   }
   .mb-#{$property} {
      margin-bottom: $size;
   }
   .my-#{$property} {
      margin-bottom: $size;
      margin-top: $size;
   }
   .ms-#{$property} {
      margin-left: $size;
   }
   .me-#{$property} {
      margin-right: $size;
   }
   .mx-#{$property} {
      margin-right: $size;
      margin-left: $size;
   }
}
